@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300;1,400&display=swap');

@theme {
  --font-serif: "Cormorant Garamond", serif;
}

@layer base {
  body {
    @apply bg-[#020617] text-white overflow-hidden;
    touch-action: none;
    overscroll-behavior: none;
  }
}
